.img_me {
    width: 200px;
    height: 200px;
    background-image: url(images/stephane_photo.jpg);
    background-size: 100%;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

body {
    font-family: sans-serif;
}

.progress {
    position: relative;
    width: 500px;
    height: 50px;
    background: #9cbab4;
    border-radius: 5px;
    overflow: hidden;
}

.progress .progress__fill {
    width: 33%;
    height: 100%;
    background: rgb(82, 168, 119);
    animation: progress_animation 5s forwards;
}

.progress .progress__text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px 'Quicksand', sans-serif;
    color: #ffffff;
}

@keyframes progress_animation {
    0% {width: 0%}
    33% {width: 33%}
}